<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "settings.html" %}
    <title>Контакты</title>
</head>


<body>

{% include "header.html" %}

<div class="main">
    <div class="container">
        <h2>
            Контакты
        </h2>
        <div class="sector_name">
            <h3>
                {{TabName}}
            </h3>
            <h4>
            <table class="contacts">
                {% for Type in Info_Arr %}
                <tr>
                    <td>{{ Type }}</td>
                    {% include "MyEMail.html" %}
                </tr>
                {% endfor %}
            </table>
            </h4>
        </div>
    </div>
</div>

</body>
