<header class="header">
    <a class="logo" href="index.php">
        <img src="images/logo.jpg" width=60 height=60>
    </a>
    <div class="header-left">
        <a class="head-logo" href="index.php">BarcaBet</a>
    </div>
    <div class="header__inner">
        <nav class="nav">
            <a class="nav-link" href="rates.php">Ставки</a>
            <a class="nav-link" href="about.php">О сайте</a>
            <a class="nav-link" href="contacts.php">Контакты</a>
        </nav>
    </div>
</header>